{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/comfirm.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">

  <h1>Delete plant?</h1>
</div>

<h2>Are you sure you want to set {{plant.species}} free?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'plant-detail' plant.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Release {{plant.species}}!</button>
</form>

{% endblock %}